.container{
    width:100%;
    height:60px;
    background-color: #24292f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    
}
body{
    width:100%;
    height:200vh;
    display: flex;
   align-items: center;
   background-color: #f6f8fa;
   flex-direction: column;
  
}
.mainhold{
    width:600px;
    height:70px;
  
}
.home{
    font-size:30px;
    font-family:sans-serif;
    font-weight:bold;
}
.bigh{
    width:600px;
    margin-top:70px;
}

*{
    margin: 0;
}
.wel{
    font-family:sans-serif;
    font-size:14px;
    margin-top: 10px;
    color:#57606a;
}
.snd{
    width:600px;
    height:250px;
    box-shadow:1px 1px 1px 1px #8888;
    background-color: white; 
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.vi{
    color:blue;
}
.w{
    margin-left: 8px;
    font-family:sans-serif;
    font-size:14px;
    margin-top:10px;
    font-weight: bold;
}
.bro{
    background-color:red;
}
.gith{
    width:30%;
    margin-left:10px;
    

   
   
}
.circlek{
    width:40px;
    height:40px;
    border-radius:50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconndtt{
    width:95%;
    height:170px;
   
    display: flex;
    margin-top:15px;

    justify-content: space-between; 
}
.iconndt{
    width:90%;
    height:170px;
   
    display: flex;
    margin-top:15px;

    justify-content: space-between;
}
.big{
    margin-top:30px;
}
.use{
   line-height: 20px;
   font-family:sans-serif;
   font-size:14px;
  
}
.resposh{
    width:600px;
    height:220px;
    box-shadow:1px 1px 1px 1px #8888;
    background-color: white; 
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.trd{
    margin-bottom:53px;
}
.colla{
    font-family: sans-serif;
    font-size:14px;
    margin-top:10px;
}
.new{
    font-family: sans-serif;
    font-weight:bold;
    font-size:14px;
    margin-top:10px;
}
.bttn{
    border: none;
    cursor: pointer;
    outline: none;
    cursor: pointer;
    background-color:#2c974b;
    height:30px;
    border-radius:5px;
    width:90%;
    margin-top:10px;
    color: white;
    font-size:12px;
    font-weight:bold;
}
.RE{
    width:70%;
}
.icon{
    width:50px;
    height:50px;
    background-color: aqua;
}
.iconh{
    width:30%;
    margin-left:20px;
   
}
.one{
    margin-bottom:15px;
}
.img5{
    width:60%;
    height:60%;
    object-fit: cover;
}
.write{
    margin-left:7px;
    color:#7286a8;
}
.imh{
    width:32px;
    height:32px;
    border-radius:50%;
    background-color:#c6c9ce;
    opacity:85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mstar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.star{
    width:600px;
    height:35px;
        display: flex;
    justify-content: space-between;
  
}
body{
    width:100%;
    height:200vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f8fa;
    align-items: center;
}
.h{
    width:600px;
    height:30px;
        display: flex;
    justify-content: space-between;
    margin-top:30px;
   
}
*{
    margin:0;
    font-family:poppins;
}
.info{

}
.f{
    border-bottom: 2px solid #fd8c73;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.father{
    display: flex;
    margin-left:20px;
    width:100px;
    height:40px;
    justify-content: space-between;
    align-items: center;

}

.intro{
    width:100%;
    height:70px;
   
}
.bt{
    padding:1px 7px;
 border: 1px solid #1a7f8b;
 border-radius:50px;
 color: #1a7f8b;
 font-size:15px;
}
.readme{
    width:100%;
    height:200px;
    background-color:#f6f8fa;
    border-radius: 5px;
    border: 1px solid lightgray;
    overflow: hidden;
}
.fin{
    margin-left: 17px;
    font-size:13px;
    color: black;
}
.follow{
    width:603px;
    height:50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-top:30px;
    
}
.git{
    width:130px;
    border-radius: 5px;
    height:35px;
    border:1px solid lightgray;
    background-color: #f6f8fa;
    outline: none;
    margin-top: 17px;
    color: #0969da;
    font-size: 14px;
    font-weight: bold;
    
}
.name{
    width:100%;
    height:50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom:1px solid lightgray;
    
}
.im{
    display: flex;
    align-items: center;
    justify-content: center;
    width:230px;
    height:85%;
    
    margin-left:20px;
    position: relative;
    
}
.im:hover{
    transform: scale(1.050);
    transition: all 350ms;
    cursor: pointer;
}

.info{
    margin-top:20px;
    background-color: #ffffff;
    width:600px;
    height:360px;
   border: 1px solid lightgray;
    display: flex;
    align-items: center;
    border-radius:5px;
    justify-content: center;
   
}
.chat{
    margin-left: 17px;
    font-size:15px;
 
    margin-top:2px;
}
.wa{
    color:blue;
}
.wrap{
    width:93%;
    height:85%;
   
}
.txtho{
    font-size:25px;
    font-weight: bold;
    margin-top: 20px;
}
.yr{
    margin-top: 15px;
    font-size:20px;
}
.m{
    margin-top: 10px;
}
.tw{
    width:85%;
}
.miss{
    margin-right:18px;
    color: #0969e1;
}
.con{
    padding: 8px 20px;
    background-color:#2c974b;
    border-radius:5px;
    color: white;
}
.discover{
    width:600px;
    height:240px;
    border: 1px solid lightgray;
   background-color: white;
   margin-top:20px;
   border-radius:5px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.git:hover{
    background-color: #0969da;
    color: white;
}
.dis{
    width: 100%;
    height:30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn{
    width:110px;
    height:30px;
    border: none;
    outline: none;
    position: absolute;
    background-color: #0969da;
   left:12px;
   bottom:15px;
   cursor: pointer;
    color: white;
}
.gim{
    width:100%;
    height:100%;
    object-fit: contain;
}
.grp{
    position: absolute;
    width:30px;
    height:30px;

}
.text{
  opacity:80%;
    
}


.About{
    color: blue;
    font-weight:bold;
    opacity:70%;
   margin-bottom:5px;
}

.s{
    opacity:75%;
    font-family: sans-serif;
    font-size:15px;
}
.push{
    margin-top:15px;
}
.txth{
    height:80%;
    width:300px;
  margin-left:30px;
  
    
}
.video{
    width:100%;
    height:100%;
    object-fit: cover;
}


.main{
    width:600px;
    height:220px;
    box-shadow:1px 1px 1px 1px #8888;; 
    margin-top:10px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius:5px;
   
}
.dots{
    width:30px;
    height:30px;
    object-fit: contain;
    cursor: pointer;
}

.imgh{
    width:32px;
    height:32px;
    border-radius:50%;
    background-color:#c6c9ce;
    opacity:85%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.grad{
    width:70%;
    height:70%;
    object-fit: cover;
  
}
.get{
    margin-left:7px;
    color:#7286a8;
}
.hld{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec{
    width:100%;
    height:calc(400vh - 60px);
    background-color:#f6f8fa;
    display: flex;
    
   

}
.lordi{
    margin-left:35px;
    margin-top:100px;
}
*{
    padding: 0px;
    margin: 0px;
}

/* .container{
    height: 100vh;
    width: 100%;
    background-color: #F6F8FA;
    display: flex;
    align-items: flex-end;
} */

.left-side{
    height: 100vh;
    width: 27%;
    background-color: white;
    border-right: 1px solid lightgrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:60px;
  
  
}

.text{
    height: 33%;
    width: 80%;
   
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

p{
    color: grey;
}

.second-text{
    width: 80%;
    margin-top: 20px;
    font-size: 14px;
    color: grey;
}

span{
    font-size: 16px;
    font-weight: bold;
    color: grey;
}

span p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

.create{
    margin-top: 30px;
    height: 25%;
    width: 100%;
   
    display: flex;
    align-items: center;
    
}

.create-btn{
    height: 80%;
    width: 45%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;
    border-radius: 10px;
  cursor: pointer;
}

.imprt-repository{
    height: 80%;
    width: 45%;
    color: blue;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.create-btn text{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
}

.footer{
    height: 40%;
    width: 73%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-holder{
    height: 90%;
    width:95% ;
    display: flex;
    flex-direction: column;
}
.bar-holder{
    height: 70px;
    width: 630px;

    display: flex;
    justify-content: center;
   
    flex-direction: column;
}

.bar1{
    height: 30px;
   
    display: flex;
    align-items: center;
    margin-right:60px;
    
}

.bulb{
    height: 30px;
    width: 30px;
   
  
}
.another{
    width:320px;
    height:200vh;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:34px;
   
}
.mbx{
    width:88%;
    height:88%;
    
   
}

.join{
    margin-top:10px; 
    font-family: sans-serif;
    font-size:14px;
    color:white;
}
.ister{
    margin-top:21px;
    width:100%;
    height:35px;
    border-radius:5px;
    border: none;
    outline:none;
    background-color: #4b314a;
    color:white;
    font-family: sans-serif;
    font-size:13px;
    font-weight:bold;
    cursor: pointer;
   
}
.early{
    margin-top: 10px;
    font-family: sans-serif;
    font-size:14px;
    color:white;
}
.lets{
    font-size:18px;
    font-weight:700;
    margin-top:15px;
    color: white;
}
.uni{
    display: flex;
    align-items: center;
  
}
.uni2{
   
    font-family:sans-serif;
    font-size:25px;
    margin-left:5px;
    display: flex;
    align-items: center;
    color: #7d64b8;
}
.mark{
    height:30px;
}
.fsbox{
   width:95%;
   border-radius:7px;
   height:230px;
 background-color: #24292f;
   margin-top:100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.ssbox{
    width:95%;
    border-radius:7px;
    height:230px;
  background-color: #24292f;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar1-txt{
    font-size: 14px;
    color: grey;
}

img{
    height: 30px;;
    width: 30px;
    object-fit: contain;
}

.bar2{
    height: 30px;
    width: 400px;
    display: flex;
    align-items: center;
}

.subscribe-txt{
    color: grey;
}

.subscribe-txt:hover{
    text-decoration: underline;
    color:blue;
}

.footer2{
    margin-top: 20px;
    height: 65%;
    width: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-iconholder{
    height: 90%;
    width:90% ;
    
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-icon{
    height: 50px;
    width: 170px;
    
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright{
    width:360px ;
    background-color: aliceblue;
    font-size: 14px;
    color: grey;
    margin-top: 10px;
    margin-left: 5px;

}

.footer-list{
    height: 100%;
    width: 70%;
    margin-left: 40px;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    padding-left: 29px;
}

li{
    color: grey;
    list-style: none;
}
*{
    margin: 0;
}
.wrapper{
    width:95%;
    height:100%;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logi{
    height:36px;
    
}
.mi{
    height:23px;
    margin-right:13px;
}
.pro{
    width:100%;
    height:100%;
    object-fit:contain;
}
.circlef{
    width:20px;
    height:20px;
    border-radius: 50%;
    overflow: hidden;
}
.cod{
    display: flex;
    margin-right:13px;
    width:50px;
    height:100%;
}
.o{
    margin: 0;
}
.pl{
    height:15px;
   
    
}
.mina{
    display: flex;
    width:20px;
    height:20px;
    border-radius: 50px;
    overflow: hidden;
   
}
input::placeholder{
    font-family:sans-serif;
    font-size:14px;
    color: white;
}
.is{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.dri{
    margin-right:10px;
}

.small{
    height:100%;
     
   display: flex;
   align-items: center;
}
input{
    width:90%;
 height: 100%;
 border: none;
 outline: none;
 padding-left:10px;
 background-color: transparent;
 display: flex;
 align-items: center;
}
.pp{
    margin:10px;
    color: white;
}
.tiny{
    width:20px;
    height:20px;
    border-radius:5px;
   border: 1px solid #52575a ;
    margin-right:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.two{
    width:300px;
    height:30px;
    background-color:transparent;
    border-radius: 5px;
    border:1px solid #52575a;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:10px;
}
.ta{
    margin-top:10px;
    font-weight: bold;
}
.header1{
    height:100%;
    
    display: flex;
    align-items: center;
}
.bill{
    width:80%;
    height:85%;
}